<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TravlerPack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Theory</a>
					<nav id="nav">
						<a href="{{ url_for('index') }}">Home</a>
						<a href="{{ url_for('about') }}">Generic</a>
						<a href="{{ url_for('donate') }}">Elements</a>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>About Us</h2>
					</header>
					<p>Our Story:
					We started TravlerPack when we became aware of the millions of people who have been displaced from their homes during the Syrian civil war. One of the greatest challenges they face is the weather. The winter brings plunging temperatures and brutal snowstorms, and many refugees do not have the proper means to stay warm.

					In the beginning, we wanted to design a sleeping bag to keep people warm. After speaking with refugees about their living conditions, we decided we needed to rethink the sleeping bag. We built TravlerPack as a disaster resilience tool to address basic needs like secure storage and mobility while providing warmth. In the past two years we sewed our first prototype together in a dorm kitchen and negotiated with manufacturers; we tested our bag by spending the night outside in a snowstorm and spoke to refugees and nonprofits across the world; we developed a product that we believe can keep people warm while improving their quality of life and launched a campaign that raised $52,000; and we sent 600 TravlerPacks to Syria.

					Since our first distribution in winter 2017, we have followed up with the recipients of TravlerPacks. The feedback has been positive. We know that TravlerPack is making a difference in these people’s lives and we want to continue this impact for the coming winter.</p>
					<p>Timeline
					A brief timeline has been provided below to shed some context on the project’s progress since the inception in September 2016.

					August - November 2016: Project Inspiration, Research, and Connection with Nonprofits.
					January - April 2017: Prototyping, Manufacturing, and Nonprofit Partnership.
					May - August 2017: Design of TravlerPack.
					September - December 2017: Crowdfunding and Media Campaign.
					January - February 2018: TravlerPack distribution (600 bags) in Idlib, Syria.
					March - August 2018: Redesign of TravlerPack.</p>
					
						<header>
							<h3>Our Team:</h3>
						</header>

						<div>
							<div class="textPicR">
								<div style="font-size: 45px">Vick Liu<br></div>
								<div>MIT 2020 finance major</div>
							</div>
							<div>
								<img src="../static/team2.jpeg" width=50% style ="position: relative; left: 0px;">
							</div>
						</div>

						<div>
							<div class="textPicR">
								<div style="font-size: 45px">Max Kessler<br></div>
								<div> MIT 2020 Mechanical Engineering major</div>
							</div>
							<div>
								<img src="../static/team1.jpeg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>
						<div>
							<div class="textPicR">
								<div style="font-size: 45px">Rachel Groberman<br></div>
								<div> MIT 2020 Computer Science major</div>
							</div>
							<div>
								<img src="../static/team3.jpg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>
							<div>
							<div class="textPicR">
								<div style="font-size: 45px">Carson Tucker<br></div>
								<div> MIT 2020 Mechanical Engineering major</div>
							</div>
							<div>
								<img src="../static/team4.jpg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>

						<div>
							<div class="textPicR">
								<div style="font-size: 45px">Yun Gu<br></div>
								<div> MIT 2020 Computer Science major</div>
							</div>
							<div>
								<img src="../static/team5.jpg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>
							<div>
							<div class="textPicR">
								<div style="font-size: 45px">Patrick Ryan<br></div>
								<div> MIT 2021 MComputer Science major</div>
							</div>
							<div>
								<img src="../static/team6.jpg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>
						<div>
							<div class="textPicR">
								<div style="font-size: 45px">Sarah Moseson<br></div>
								<div> MIT 2021 Mechanical Engineering major</div>
							</div>
							<div>
								<img src="../static/team8.jpg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>
						<div>
							<div class="textPicR">
								<div style="font-size: 45px">Jessy Lin<br></div>
								<div> MIT 2019 Computer Science major</div>
							</div>
							<div>
								<img src="../static/team7.jpg" width=50% style="position: relative; left: 0px;">
							</div>
						</div>

			


							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						<article>
							<div class="image fit">
								<img src="{{ url_for('static',filename='pic02.jpg') }}" alt="Pic 02" />
							</div>
							<header>
								<h3>Fusce pellentesque tempus</h3>
							</header>
							<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>