<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
				<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" >
					<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">TravlerPack</a>
					<nav id="nav">
						<a href="{{ url_for('index') }}">Home</a>
						<a href="{{ url_for('about') }}">About Us</a>
						<a href="{{ url_for('donate') }}">Donate</a>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<style type="text/css"> 
			.donate_text {
				  font-family: 'Open Sans', sans-serif;
					font-size: 50px; }

				  .under_donate_text {
				  font-family: 'Bitter', serif;
					font-size: 30px; }



 
 
 
		</style>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet"> 
	</head>
	<body>   

<h1 class="donate_text"> DONATE TO TRAVLERPACK </h1>
<H2 class="under_donate_text">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help Refugees Worldwide </H2>  
<div class ="container"style="margin:auto;">
			<form action="/donate" method="post">
		<ul class="form-style-1">
		    <li><label>Full Name <span class="required">*</span></label><input type="text" name="FName" class="field-divided" placeholder="First" /> <input type="text" name="LName" class="field-divided" placeholder="Last" /></li>
		    <li>
		        <label>Email <span class="required">*</span></label>
		        <input type="email" name="email" class="field-long" />
		    </li>
		    <li>
		        <label>Your Message <span class="required">*</span></label>
		        <textarea name="message" id="field5" class="field-long field-textarea"></textarea>
		    </li>
		    <li>
		       <input type="submit" name="submit_btn" value="Next">
		    </li>
		</ul>
		</form>	
</div>
	</body>
 
</html>