<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TravlerPack</title>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" >
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('index') }}" class="logo">TravlerPack</a>
					<nav id="nav">
						<a href="{{ url_for('index') }}">Home</a>
						<a href="{{ url_for('about') }}">About Us</a>
						<a href="{{ url_for('user_guide') }}">User Guide</a>
						<a><form  action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick" />
						<input type="hidden" name="hosted_button_id" value="XURU96YER4KV8" />
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
						<img alt="" border="0" src="https://www.paypal.com/en_IL/i/scr/pixel.gif" width="1" height="1" />
						</form></a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Help Refugees Worldwide</h1>
				<a><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="XURU96YER4KV8" />
<input type="image" src="https://www.ectaportal.com/images/ecta-conferences/Become_a_sponsor_bis.png" width="200" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_IL/i/scr/pixel.gif" width="1" height="1" />
</form></a>

			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>TravlerPack is :</h3>
							</header>
							<p>TravlerPack is a multi-purpose sleeping bag designed to improve the quality of life of displaced persons in exposed, vulnerable living conditions..</p>
							<footer>
								<a href="{{ url_for('about') }}" class="button special">Learn</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Our Impact</h3>
							</header>
							<p>So far, we’ve distributed 1,000 TravlerPacks to refugees like this young girl in Idlib, Syria. We currently have another 160 in Beirut, Lebanon ready for distribution in the Beqaa Valley. </p>
							<footer>
								<a href="{{ url_for('donate') }}" class="button special">Donate</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Our Press Coverage</h3>
								<div class="image fit">
								<img src="{{ url_for('static',filename='PressCov.JPG') }}" alt="Pic 01" />
							</div>
							</header>
								
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Our Team</h2>
						<p>Here are our wonderful hard working inovators</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team1.jpeg') }}" alt="Person 1" />
							</div>
							<h3>Max Kessler</h3>
							<p>MIT 2020<br>Mechanical Engineering major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team2.jpeg') }}" alt="Person 2" />
							</div>
							<h3>Vick Liu</h3>
							<p>MIT 2020<br>Finance major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team3.jpg') }}" alt="Person 3" />
							</div>
							<h3>Rachel Groberman</h3>
							<p>MIT 2020<br>Computer Science major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team4.jpg') }}" alt="Person 4" />
							</div>
							<h3>Carson Tucker</h3>
							<p>MIT 2020<br>Mechanical Engineering major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team5.jpg') }}" alt="Person 4" />
							</div>
							<h3>Yun Gu</h3>
							<p>MIT 2020<br>Computer Science major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team6.jpg') }}" alt="Person 4" />
							</div>
							<h3>Patrick Ryan</h3>
							<p>MIT 2021<br>Computer Science major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team8.jpg') }}" alt="Person 4" />
							</div>
							<h3>Sarah Moseson</h3>
							<p>MIT 2021<br>Mechanical Engineering major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static',filename='team7.jpg') }}" alt="Person 4" />
							</div>
							<h3>Jessy Lin</h3>
							<p>MIT 2019<br>Computer Science major</p>
						</div>
					</div>
				</div>
			</section>


		<!-- Three -->
	
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
					
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>