<!DOCTYPE html>
<html>
<head>
	<title>User Guide</title>
</head>
<body>
<!--first img-->
	<img src="{{ url_for ('static', filename='TravlerPack.jpg')}}" width="500" height="500">
	<img src="{{ url_for ('static', filename='pocketstorage.jpg')}}" width="500" height="500">
	<img src="{{ url_for ('static', filename= 'portability.jpg')}}" width="500" height="500">
	<img src="{{ url_for ('static', filename='combiningbags.jpg')}}" width="500" height="500">
	<img src="{{ url_for ('static', filename='unzippingthebag.jpg')}}" width="500" height="500">
	<img src="{{ url_for ('static', filename='pillowpocket.jpg')}}" width="500" height="500">
</body>
</html>